body {
    background-color:OldLace;
    font-size:16px;
}
#content {
    background-color:AntiqueWhite;
    display:flex;
    flex-direction:column;
    align-items:left;
    position:relative;
    top:0vh;
    left:256px;
    max-width:800px;
    padding:20px;
    margin:10px;
    transition: left 1s;
}
#leftNav {
    background-color:DarkSeaGreen;
    position:fixed;
    top:0px;
    left:0px;
    display:flex;
    flex-direction:column;
    align-items:right;
    width:232px;
    height:100%;
    transition: width 1s, height 1s;
}
#hamburger {
    background-color:NavajoWhite;
    border-radius:50%;
    position:fixed;
    top:30px;
    left:160px;
    width:45px;
    height:45px;
    text-align:center;
    font-size:1.5em;
    transition: left 1s;
}
nav > #hamburger > span {
    margin-top:11px;
    color:darkSlateGray;
}
#hamburger:hover {
    background-color:lightgreen;
    color:darkgreen;
}
#hamburger:active {
    background-color:honeydew;
    color:seagreen;
}
nav > ul {
    padding:6px;
    text-align:right;
    list-style-type:none;
    position:fixed;
    top:60px;
    left:0px;
    width:204px;
}
#navUl {
    /* shorter opacity transition to prevent Ul items from visibly exceeding leftNav's width */
    transition: width 1s, opacity 0.8s;
}
nav > ul > li {
    padding:6px;
    font-size:2em;
    font-style:normal;
    font-weight:100;
    line-height:120%;
    letter-spacing:2px;
}
#column {
    padding:16px;
}
#heading {
    font-size:3em;
}
h1 {
    color:DarkSlateGray;
}
h2 {
    color:SlateGray;
}
a {
    color:MidnightBlue;
}
a:hover {
    color:Teal;
}
a:active {
    color:SeaGreen;
}

@media only screen and (width <= 600px) {
    body {
        font-size:10px;
    }
    #content {
        position:relative;
        top:96px;
        left:0%;
        max-width:100%;
    }
    #leftNav {
        position:fixed;
        top:0px;
        left:0px;
        width:100%;
        height:88px;
        display:flex;
        flex-direction:row;
        align-items:left;
    }
    #hamburger {
        top:20px;
        left:20px;
    }
    #navUl {
        visibility:hidden;
        text-align:left;
        padding: 16px;
        width:"";
    }
}